<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Color-Coded Dropdown Nav Menu - Template Monster Demo</title>
  <meta name="author" content="Jake Rocheleau">
  <link rel="shortcut icon" href="http://static.tmimgcdn.com/img/favicon.ico">
  <link rel="icon" href="http://static.tmimgcdn.com/img/favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="css/styles.css">
  <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="wrapper">
      <ul id="menu" class="clearfix">
        
        <li><a href="#">color categories</a>
          <ul>
            <li class="purple"><a href="#">Warm</a>
             <ul>
                 
             </ul>
            </li>
            <li class="purple"><a href="#">립</a>
              <ul>
                <li><a href="#">페일</a></li>
                <li><a href="#">라이트그레이쉬</a></li>
                <li><a href="#">그레이쉬</a></li>
                <li><a href="#">다크그레이쉬</a></li>
                <li><a href="#">라이트</a></li>
                <li><a href="#">소프트</a></li>
                <li><a href="#">덜</a></li>
                <li><a href="#">다크</a></li>
                <li><a href="#">브라이트</a></li>
                <li><a href="#">스트롱</a></li>
                <li><a href="#">딥</a></li>
                <li><a href="#">비비드</a></li>
              </ul>
            </li>
            <li class="aqua"><a href="#">섀도우</a>
              <ul>
                <li><a href="#">페일</a></li>
                <li><a href="#">라이트그레이쉬</a></li>
                <li><a href="#">그레이쉬</a></li>
                <li><a href="#">다크그레이쉬</a></li>
                <li><a href="#">라이트</a></li>
                <li><a href="#">소프트</a></li>
                <li><a href="#">덜</a></li>
                <li><a href="#">다크</a></li>
                <li><a href="#">브라이트</a></li>
                <li><a href="#">스트롱</a></li>
                <li><a href="#">딥</a></li>
                <li><a href="#">비비드</a></li>
              </ul>
            </li>
            <li class="red"><a href="#">Cool</a>
            </li>
            <li class="blue"><a href="#">립</a>
              <ul>
                <li><a href="#">페일</a></li>
                <li><a href="#">라이트그레이쉬</a></li>
                <li><a href="#">그레이쉬</a></li>
                <li><a href="#">다크그레이쉬</a></li>
                <li><a href="#">라이트</a></li>
                <li><a href="#">소프트</a></li>
                <li><a href="#">덜</a></li>
                <li><a href="#">다크</a></li>
                <li><a href="#">브라이트</a></li>
                <li><a href="#">스트롱</a></li>
                <li><a href="#">딥</a></li>
                <li><a href="#">비비드</a></li>
              </ul>
            </li>
            <li class="gold"><a href="#">섀도우</a>
              <ul>
                <li><a href="#">페일</a></li>
                <li><a href="#">라이트그레이쉬</a></li>
                <li><a href="#">그레이쉬</a></li>
                <li><a href="#">다크그레이쉬</a></li>
                <li><a href="#">라이트</a></li>
                <li><a href="#">소프트</a></li>
                <li><a href="#">덜</a></li>
                <li><a href="#">다크</a></li>
                <li><a href="#">브라이트</a></li>
                <li><a href="#">스트롱</a></li>
                <li><a href="#">딥</a></li>
                <li><a href="#">비비드</a></li>
              </ul>
            </li>
             
          </ul>
        </li>
        <li><a href="#">Social</a>
        </li>
      </ul>
    </div>
</body>

<style>
/** page structure **/
nav {
  display: block;
  width: 100%;
  height: 70px;
  background: #384958;
}
 
.wrapper { 
  display: block;
  margin: 0 auto;
  width: 750px;
}
 
#menu {
  display: block;
  position: relative;
  z-index: 99;
}
#menu li {
  display: block;
  float: left;
 
}
#menu li a {
  display: block;
  position: relative;
  float: left;
  padding: 0 35px;
  font-size: 1.5em;
  line-height: 70px;
  font-weight: bold;
  text-decoration: none;
  color: #f5f5f5;
}
#menu li a:hover, #menu li a.active {
  background: #fff;
  color: #2c343b;
}
 
#menu li ul {
  display: none;
  position: absolute;
  top: 70px;
  width: 200px;
  background: #fff;
  z-index: -1;
  -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.45);
  -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.45);
  box-shadow: 0 2px 7px rgba(0,0,0,0.45);
}
#menu li ul li {
  display: block;
  width: 200px;
}
#menu li ul li a {
  display: block;
  float: none;
  color: #4e5b67;
  font-size: 1em;
  line-height: 32px;
  padding: 0 15px;
}
#menu li ul li a:hover {
  background: #384958;
  color: #fff;
}
#menu li ul.expanded {
  width: 400px;
  height: 400px;
}
#menu li ul.expanded li { margin-right: 200px; }

 
 
#menu li ul li ul {
  display: none;
  position: absolute;
  left: 200px;
  top: 0;
  height: 100%;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#menu li ul li ul li a { color: #fff; }
#menu li ul li ul li a:hover { text-decoration: underline; }

#menu li ul li.purple a:hover, #menu li ul li.purple a.active { background: #4f4c83; color: #fff; }
#menu li ul li.purple ul { background: #4f4c83; }


#menu li ul li.green a:hover, #menu li ul li.green a.active { background: #65834c; color: #fff; }
#menu li ul li.green ul { background: #65834c; }

#menu li ul li.aqua a:hover, #menu li ul li.aqua a.active { background: #4c7983; color: #fff; }
#menu li ul li.aqua ul { background: #4c7983; color: #fff; }

#menu li ul li.red a:hover, #menu li ul li.red a.active { background: #834c4c; color: #fff; }
#menu li ul li.red ul { background: #834c4c; }

#menu li ul li.blue a:hover, #menu li ul li.blue a.active { background: #4d6899; color: #fff; }
#menu li ul li.blue ul { background: #4d6899; }

#menu li ul li.gold a:hover, #menu li ul li.gold a.active { background: #97944c; color: #fff; }
#menu li ul li.gold ul { background: #97944c; }
</style>

<script>
    $(document).ready(function(){
    
       $('#menu > li').on('mouseover', function(e){
          $(this).find("ul:first").show();
          $(this).find('> a').addClass('active');
        }).on('mouseout', function(e){
          $(this).find("ul:first").hide();
          $(this).find('> a').removeClass('active');
        });        
       $('#menu li li').on('mouseover',function(e){
      if($(this).has('ul').length) {
        $(this).parent().addClass('expanded');
      }
      $('ul:first',this).parent().find('> a').addClass('active');
      $('ul:first',this).show();
        }).on('mouseout',function(e){
          $(this).parent().removeClass('expanded');
          $('ul:first',this).parent().find('> a').removeClass('active');
          $('ul:first', this).hide();
        });
  
    });
</script>